<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
	<div id="errorExplanation">
		<h2><%= pluralize(@post.errors.count, "error")%> 
			prohibited this post from being saved:
		</h2>
		<ul>
		<% @post.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
		</ul>
	</div>
	<% end %>
	<p>
		<%= f.label :title %><br>
		<%= f.text_area :title %>
	</p>

    <p>
		<%= f.label :text %><br>
		<%= f.text_area :text %>
    </p>
	
	<p>
		<%= f.submit %>
	</p>
<% end %>