<h1>Listing Posts</h1>

<%= link_to 'New Post', new_post_path %>
<table>
	<tr>
		<th>Title</th>
		<th>Text</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @posts.each do |post| %>
		<tr>
			<td><%= post.title %></td>
			<td><%= post.text %></td>
			<td><%= link_to 'show', post_path(post) %></td>
			<td><%= link_to 'edit', edit_post_path(post) %></td>
			<td><%= link_to 'destroy', post_path(post), method: :delete, data: 
				{confirm:'Are you sure?'} %></td>
		</tr>
	<% end %>
</table>